
.fuente1 {
    font-family: Arial;
    text-align: center;
}
.fuente2 {
    font-family: Franklin Gothic Medium;
}
.centrar {
    text-align: center;
    font-family: Franklin Gothic Medium;
}
body {background-color: #ffead1;;
}
.imagencircular {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: auto;
    border: 4px solid #f58b11;
}
a {
    color: #f58b11;
    text-decoration: none;
    transition: color 0.3s;
}
a:hover {
    color: #f54e11;
}